.vs/
ElectionTimeInfoApp/ElectionTimeInfoApp.Android/obj/
ElectionTimeInfoApp/ElectionTimeInfoApp.iOS/obj/
ElectionTimeInfoApp/ElectionTimeInfoApp.UWP/obj/
ElectionTimeInfoApp/ElectionTimeInfoApp.iOS/bin/
